<!--
 Title: contact.component.html
 Author: Patrick Wolff
 Date: 29 January 2023
 Description: Contact Page for nodebucket application
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="address-card">
        <p>
          3672 Minerva Avenue
        </p>
        <p>
          Beauxbatons Academy of Magic
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="phone-card">
        <p>
          Phone: 555-123-1234
        </p>
        <p>
          Toll Free: 1-800-123-1234
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

