<!--
 Title:  not-found.component.html
 Author: Patrick Wolff
 Date:   29 January 2023
 Description: 404 Not Found Page
-->
<body>
  <main>
    <h1>404</h1>
    <div class="container">
      <img src="./assets/robot_graphic.jpg" alt="Sad Robot" style="width: 400px;height: 600px;" />
      <div class="bottomleft">Image courtesy of: Mulyadi https://unsplash.com/photos/ZnLprInKM7s</div>
    </div>
    <h2>Sorry, page not found</h2>
    <button mat-raised-button color="primary" routerLink="/"></button>
  </main>
</body>
