<!--
 Title: about.component.html
 Author: Patrick Wolff
 Date: 05 February 2023
 Description: About Us page for Nodebucket application
-->

<div>
  <h1 style="text-align: center; margin-top: 60px; margin-bottom: 50px; font-weight: bold; font-family: Inter;">

  </h1>
</div>

<!-- 2 column material design layout -->
<div fxLayout="row wrap" style="margin-bottom: 100px">
  <div fxFlex>
    <!-- left column -->
    <div fxLayout="column" style="text-align: center">
      <div>
        <img class="aboutUsImg" src="../../../assets/passion.jpg" alt="Passion Led Us Here"/>
        <figcaption>Image by: Ian Schneider <a href="https://unsplash.com/photos/TamMbr4okv4">unsplash.com/photos/TamMbr4okv4</a></figcaption>
      </div>
    </div>
  </div>
  <!-- right column -->
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="appName">Nodebucket</h1>
      <div class="aboutApp">
        <p>
          Welcome to the newly developed Nodebucket web application. This application has been in the works for over a year
          and we are pleased to finally make it available to the public. This is the first application of many to come from
          the JustP@ Development Group. We hope you enjoy this new app which is designed to help keep your tasks organized.

        <br />

          Nodebucket is a task organization app that is designed to, you guessed it, keep you organized and on track. It allows
          you to add tasks to the To Do list, and reorganize them by dragging and dropping. When you finish a task you can move
          it over to the Done column by dragging and dropping as well. The drag and drop feature is an excellent way to reorganize
          your tasks as you add them to the lists. Another great feature of Nodebucket is the ability to delete a task. The delete
          option offers a great way to erase any task that is no longer needed on the To Do list or the Done list. Be careful with
          this feature as it is permanent and cannot be undone.

        <br />

          We really hope you do enjoy the Nodebucket application and all it has to offer. If you have any questions on the application,
          how to use it, suggested features, or you just want to say hi and tell us you enjoy using the application, head over to the
          Contact Us page and drop us a line. We look forward to hearing from you!
        </p>

      </div>
    </div>
  </div>
</div>
