<header>
  <!-- navbar -->
  <nav fxFlex>
    <mat-toolbar style="border-bottom: 15px solid #D6A800; height: 100px;" color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerlink="/" mat-button>nodebucket</button>
        <button class="navbar-link" mat-button>About</button>
        <button class="navbar-link" mat-button> Contact Us</button>

      </div>

      <div fxFlex></div>

      <button (click)="logout()" mat-button class="navbar-link">Log Out</button>
    </mat-toolbar>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar class="footer-content">
    <div fxFlex></div>
    <p>
      &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="blank">Bellevue University</a>
    </p>
  </mat-toolbar>
</footer>
