<!--
 Title: base-layout.component.html
 Author: Prof. Krasso
 Date: 15 January 2023
 Modified By: Patrick Wolff
 Attribution: WEB450 Live Meetings
-->

<header>
  <!-- navbar -->
  <nav fxFlex>
    <mat-toolbar style="border-bottom: 15px solid #D6A800; height: 100px;" color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>
        <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <button class="navbar-link" routerLink="/contact" mat-button> Contact Us</button>

      </div>

      <div fxFlex></div>

      <!-- profile menu -->
      <div>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
          <mat-icon>perm_identity</mat-icon>
        </button>

        <mat-menu #profileMenu>
          <p id="profile-name">Signed in as {{ employeeName }}</p>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar class="footer-content">
    <div fxFlex></div>
    <p>
      &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="blank">Bellevue University</a>
    </p>
  </mat-toolbar>
</footer>
